# fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# aliases
[ -f ~/aliases.zsh ] && source ~/aliases.zsh


{{ if eq .chezmoi.os "darwin" }}
# zsh-autosuggestions
source "$(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh"

# zsh-syntax-highlighting
source "$(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
{{ else }}
# zsh-autosuggestions
source "$HOME/.zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh"

# zsh-syntax-highlighting
source "$HOME/.zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
{{ end }}

# zsh-syntax-highlighting (styles)
ZSH_HIGHLIGHT_STYLES[command]='fg=blue'
ZSH_HIGHLIGHT_STYLES[alias]='fg=blue'
ZSH_HIGHLIGHT_STYLES[builtin]='fg=blue'
ZSH_HIGHLIGHT_STYLES[function]='fg=blue'
ZSH_HIGHLIGHT_STYLES[unknown-token]='fg=red'
ZSH_HIGHLIGHT_STYLES[path]='fg=yellow'
ZSH_HIGHLIGHT_STYLES[comment]='fg=#b1acde'

# zoxide
(( $+commands[zoxide] )) && eval "$(zoxide init zsh)"

# starship
(( $+commands[starship] )) && eval "$(starship init zsh)"
