# homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

# AWS CLI
export AWS_PROFILE=udemy-terraform

# tmux
if [ -z "$TMUX" ] && [ -n "$ALACRITTY_LOG" ]; then
  tmux attach -t 0 || tmux new -s 0
fi

{{ template "zshrc_common.tmpl" . }}
